/* CSS Styles for 3D Model Viewer */


/* removing default styles */

*, *::before,*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;

}

:root {
--accent:hsl(205, 93%, 67%);
}

.favicon:focus {
    filter: invert(61%) sepia(51%) saturate(738%) hue-rotate(185deg) brightness(96%) contrast(93%);
}

/*Header styles*/

nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
     background-color:hsl(0, 0%, 95%); 
    box-shadow:0px 2px 4px 5px rgba(0,0,0,0.1);
    padding:1.5rem 2%;
    height:60px;   
    transition:all 0.3s ease-out;
}

.logo {
    font-size:1.5rem;
    font-weight:bold;
    color:hsl(249, 97%, 47%);
    padding:0.5rem 1rem;
    min-width:max-content;
    
    
}

.nav-links {
    display:flex;
    align-items:center;
    list-style:none;
    padding:10px;
    gap:5rem;
   
}

@media (max-width: 768px) {
  /* Hide the desktop navigation links entirely */
  .nav-links {
    display: none; 
  }

  /* Reveal the  cart icon instead */
  .cart-icon {
    display: block;
  }
}
.nav-links li a {
    position: relative;
    text-decoration:none;
    color:hsl(0, 0%, 30%);
    letter-spacing:0.5px ;
    width:max-content;
    padding:0 5px;
}

.nav-links li a:hover {
    color:var(--accent);
    transition:color 0.3s ease-out;
}

.nav-links li a::after {
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    background-color:var(--accent);
    bottom:-4px;
    right:0;
    transform:scaleX(0);
    transform-origin:bottom left;
    transition:transform 0.3s ease-out;
    }

.nav-links li a:hover::after {
    transform:scaleX(1);
    }


.cart {
    position:relative;
    display:inline-block;
   
}
.cart-icon {
    position:relative;
    display:block;
    width:30px;
     height:30px;
    }

.cart-icon:hover,
.cart-icon:focus {

    transform:scale(1.1);
    transition:transform 0.3s ease-out;
    filter: invert(61%) sepia(51%) saturate(738%) hue-rotate(185deg) brightness(96%) contrast(93%);

}

/* Body */
body {
    
    font-family:'Bitcount Prop Single', sans-serif;
    padding:0.5rem;
    overflow-x:hidden;
}

/* Hero Section */
.hero {
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:8rem 5% ; 
    min-height:100vh;
    
}
    
.hero-section {
display:flex;
padding:1.5rem;
flex:1 1 400px;
flex-direction:column;
gap:2rem;
}
.hero-section .h1{
    font-size:3rem;
}
.hero-section p{
    font-size:1.5rem;
    max-width:600px;
   
}

.hero-section .btn {
    max-width:max-content;
    place-items:center;
    font-size:1.7rem;
    border-radius:5rem;
    padding:1rem 2rem;
    align-items:center;
    background-color: var(--accent);
    border:none;
    font-family:'Bitcount Prop Single', sans-serif;
}
    
.btn:hover{
    background-color:hsla(203, 83%, 60%, 0.951);
    box-shadow:0px 2px 4px 5px hsla(209, 84%, 63%, 0.621);
}
.btn:active{
    transform:scale(0.95);
    box-shadow:0px 2px 4px 5px hsla(214, 83%, 34%, 0.953);
}

.d-box {
    background-color:hsl(0, 0%, 99%);
    width:80vh;
    height:75vh;
    border-radius:1rem;
    box-shadow:0px 2px 4px 5px rgba(0,0,0,0.1);
}